* {
    box-sizing: border-box;
}

.replay-chat {
    background-color: #121212;
    color: #c5c5c5;
    font-family: Helvetica,Trebuchet MS,Verdana,sans-serif;
    font-size: 12px;
    height: 100%;
    
    a {
        color: #85e8f3;
        text-decoration: none;
        cursor: pointer;
    }
    
    a:active,a:focus,a:hover {
        text-decoration: underline
    }
    
    .autolinker:visited {
        color: #4c7d83;
    }
    
    ::-webkit-scrollbar {
        width: 6px;
        right: 0;
        top: 0;
        bottom: 0;
        visibility: hidden\9;
        opacity: 0;
        margin: 5px
    }
    ::-webkit-scrollbar-thumb {
        background: #878787;
        box-shadow: 0px 1px #282828,0px -1px #282828;
        margin: 0 1px;
    }
}

.chat-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#chat-output {
    flex: 1;
    padding: 3px 18px 3px 8px;
    overflow-y: hidden;
    
    &:hover{
        overflow-y: auto;
    }
}

.chat-messages-dump {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 375px;
    
    li {
        line-height: 20px;
        padding: 6px 0;
        word-wrap: break-word;
        margin: -3px 0;
        position: relative;
        
        .time {
            color: #555;
            font-size: 11px;
            line-height: 11px;
            float: left;
            margin: 5px 4px 0 0;
        }
        
        .user {
            font-weight: 700;
            cursor: pointer;
            
            &:hover{
                text-decoration: underline;
            }
        }
        
        .modes {
            .mode {
                width: 18px;
                height: 18px;
                float: left;
                position: relative;
                margin: 1px 3px 1px 0;
            }
            
            .mode:empty {
                display: none
            }
        }
        
       // .message{ 
            .continue {
                float: left;
                color: #555;
                font-size: 11px;
                margin-right: 5px
            }
            
            span.highlight {
                background-color: #fff;
                padding: 0 2px;
                border: 2px solid #fff;
                color: #0e0c13;
                border-radius: 1px
            }
      //  }
    }
}

.emoticon {
    background-position: 50%;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin: -5px 0;
    width: 28px;
    height: 28px;
}

.scroll-to-bottom-button {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #171717;
    padding: 8px;
    cursor: pointer;
    text-align: center;
}

.replay-error-message {
    position: absolute;
    top: 50%;
    width: 90%;
    font-size: 16px;
    text-align: center;
}