.ircf-fg-0 {
  color: rgb(255, 255, 255)
}

.ircf-fg-1 {
  color: rgb(0, 0, 0)
}

.ircf-fg-2 {
  color: rgb(0, 0, 127)
}

.ircf-fg-3 {
  color: rgb(0, 147, 0)
}

.ircf-fg-4 {
  color: rgb(255, 0, 0)
}

.ircf-fg-5 {
  color: rgb(127, 0, 0)
}

.ircf-fg-6 {
  color: rgb(156, 0, 156)
}

.ircf-fg-7 {
  color: rgb(252, 127, 0)
}

.ircf-fg-8 {
  color: rgb(255, 255, 0)
}

.ircf-fg-9 {
  color: rgb(0, 252, 0)
}

.ircf-fg-10 {
  color: rgb(0, 147, 147)
}

.ircf-fg-11 {
  color: rgb(0, 255, 255)
}

.ircf-fg-12 {
  color: rgb(0, 0, 252)
}

.ircf-fg-13 {
  color: rgb(255, 0, 255)
}

.ircf-fg-14 {
  color: rgb(127, 127, 127)
}

.ircf-fg-15 {
  color: rgb(210, 210, 210)
}







.ircf-bg-0 {
  background-color: rgb(255, 255, 255)
}

.ircf-bg-1 {
  background-color: rgb(0, 0, 0)
}

.ircf-bg-2 {
  background-color: rgb(0, 0, 127)
}

.ircf-bg-3 {
  background-color: rgb(0, 147, 0)
}

.ircf-bg-4 {
  background-color: rgb(255, 0, 0)
}

.ircf-bg-5 {
  background-color: rgb(127, 0, 0)
}

.ircf-bg-6 {
  background-color: rgb(156, 0, 156)
}

.ircf-bg-7 {
  background-color: rgb(252, 127, 0)
}

.ircf-bg-8 {
  background-color: rgb(255, 255, 0)
}

.ircf-bg-9 {
  background-color: rgb(0, 252, 0)
}

.ircf-bg-10 {
  background-color: rgb(0, 147, 147)
}

.ircf-bg-11 {
  background-color: rgb(0, 255, 255)
}

.ircf-bg-12 {
  background-color: rgb(0, 0, 252)
}

.ircf-bg-13 {
  background-color: rgb(255, 0, 255)
}

.ircf-bg-14 {
  background-color: rgb(127, 127, 127)
}

.ircf-bg-15 {
  background-color: rgb(210, 210, 210)
}