// Backgrounds
$header-bg: #151C26;
$body-bg: #2E3440;
$bullet: #374356;

// Main colors
$bookmarks: #FFF064;
$success: #00E1AB;
$error: #DB0E30;

// Font colors
$light: #8596AE;
$dark: #515D71;

$box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  outline: 0;
  transition: all .2s ease;
  cursor: pointer;
  &:hover {
    color: $success;
    text-decoration: none;
  }
}

body {
  font-size: 16px;
  height: 100%;
  background-color: $body-bg;
  font-family: 'Roboto', sans-serif;
  background: url('./assets/bg.jpg') no-repeat top right;
  background-color: $body-bg;
  background-size: contain;
}

.input {
  color: $dark;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 13px 20px;
  &--large-padding {
    padding: 13px 20px 13px 45px;
  }
}

input[type="submit"] {
  outline: none;
}

form {
  flex: 0 1 100%;
  margin: 30px 0;
  max-width: 100%;
  min-width: 0;
}

.submit-btn {
  margin-left: -8px;
  border-radius: 5px;
  background-color: $bullet;
  border: none;
  color: white;
  font-size: 18px;
  padding: 14px 20px;
  cursor: pointer;
  transition: all .2s ease;
  &:hover {
    background-color: $success;    
  }
  &:disabled {
    cursor: initial;
    color: white;
    border-color: $light;
    background-color: $light;
  }
  &--large-padding {
    padding: 15px 30px;
  }
}

.center-flex {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  &--overlow-hide {
    overflow-x: hidden;
  }
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  padding: 0 25px;
}

.btn {
  background: transparent;
  border: 1px solid $success;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  outline: 0;
  padding: 6px 12px;
  font-weight: 600;
  transition: all .2s ease;
  &:hover {
    color: $header-bg;
    background-color: $success
  }
  &:disabled {
    cursor: initial;
    color: white;
    border-color: $light;
    background-color: $light;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &--active {
    color: $header-bg;
    background-color: $success;
  }
}

.header {
  height: 60px;
  background-color: $header-bg;
  box-shadow: $box-shadow;
  display: flex;
  flex: 0 0 60px;
  ul {
    height: 100%;
    display: flex;
    cursor: pointer;
    li {
      list-style: none;
      height: 100%;
      position: relative;
      a {
        left: 0;
        z-index: 800;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        &:hover {
          +.streamer {
            background-color: #1D252F;
          }
        }
        &.active {
          +.streamer {
            background-color: #1D252F;
            .streamer__icon .streamer__remove {
              display: block;
            }
            .streamer__icon::after {
              background-color: white;
              width: 35px;
            }
          }
        }
      }
    }
  }
}

.streamer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  transition: all .2s ease; 
  &:hover {
    background-color: #1D252F;
  }
  &__placeholder {
    a {
      position: initial !important;
    }
  }
  &__icon {
    position: relative;
    img {
      width: 40px;
      height: 40px;
      border-radius: 8px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -8px;
      transform: translate(-50%, 0);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 15px;
      height: 5px;
      background-color: $bullet;
      transition: all .2s ease;
    }
    &--placeholder {
      background-color: $bullet;
      width: 40px;
      height: 40px;
      border-radius: 13px;
      &::after {
        display: none;
      }
    }
  }
  &__badge {
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -5px;
    background-color: $error;
  }
  &__remove {
    position: absolute;
    z-index: 999;
    display: none;
    left: -4px;
    top: -4px;
    font-size: 12px;
    color: $light;
    transition: all .2s ease;
    &:hover {
      color: $error;
      cursor: pointer;
    }
  }
  &__title {
    margin: 0 0 0 15px;
    font-size: 16px;
    color: $light;
    &--placeholder {
      span {
        display: block;
        border-radius: 5px;
        background-color: $bullet;
      }
      span:nth-child(1) {
        height: 8px;
        width: 40px;
        margin: 0 0 5px 0;
      }
      span:nth-child(2) {
        height: 8px;
        width: 60px;
      }
    }
  }
  &__status {
    font-size: 14px;
    color: $dark;
    white-space: nowrap;
    span {
      color: $success;
    }
    &--off {
      span {
        color: $error;
      }
    }
  }
}

.user-menu {
  img {
    width: 32px;
  }
  a {
    padding: 0 20px;
    position: initial !important;
    display: flex !important;
    align-items: center;
    font-size: 22px;
    position: relative;
    color: $light;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 15px;
      height: 5px;
      background-color: $bullet;
      transition: all .2s ease;
    }
    &:hover {
      color: $success;
      background-color: #1D252F;
    }
    &.active {
      color: $success;
      background-color: #1D252F;
      &::after {
        background-color: white;
        width: 35px;
      }
    }
  }
  &--links {
    margin: 0 0 0 auto;
  }
}

.search {
  position: relative;
  text-align: right;
  input {
    transition: all .2s ease;
    width: 90%;
    &:focus {
      width: 100%;
    }
  }
  label {
    position: absolute;
    color: $light;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
  }
}

.videos {
  h2 {
    color: white;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid $bullet;
    padding: 0 0 8px 0;
    margin: 40px 0 20px 0;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  &__item {
    flex: 0 1 25%;
    max-width: 25%;
    position: relative;
    padding: 0 10px;
    margin: 10px 0 30px 0;
    a {
      width: calc(100% - 20px);
      height: 100%;
      display: block;
      position: absolute;
      z-index: 800;
      &:hover {
        +.videos__thumbnail img {
          box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.4);
        }
      }
    }
  }
  &__thumbnail {
    position: relative;
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      transition: all .2s ease;
    }
  }
  &__title {
    position: relative;
    font-size: 16px;
    font-weight: 400; 
    color: white;
    padding: 0 30px 0 0;
    margin: 15px 0 0 0;
    h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
      margin: 0 0 8px 0;
    }
    span {
      color: $light;
      font-size: 14px;
      
    }
  }
  &__badge {
    position: absolute;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 8px 10px;
    line-height: 14px;
    i {
      margin: 0 8px 0 0;
    }
    &--new {
      background-color: $error;
      text-transform: uppercase;
      top: 12px;
      left: 8px;
    }
    &--bookmark {
      background-color: transparent;
      top: 12px;
      right: 8px;
      padding: 0;
      z-index: 900;
      font-size: 22px;
      padding: 10px;
      transition: all .2s ease;
      &:hover {
        transform: scale(1.6);
        cursor: pointer;
      }
    }
    &--refresh {
      z-index: 900;
      top: 12px;
      left: 8px;
      cursor: pointer;
      i {
        margin: 0;
      }
    }
    &--active {
      color: $bookmarks;
    }
    &--sync {
      position: fixed;
      top: 0;
      right: 0;
      i {
        animation: spin 3s infinite;
        margin: 0;
      }
    }
    &--views {
      right: 8px;
      bottom: 12px;
    }
    &--time {
      left: 8px;
      bottom: 12px;
    }
  }
  &__watched {
    z-index: 900;
    padding: 5px;
    position: absolute;
    top: 0;
    transition: all .2s ease;
    right: 0;
    cursor: pointer;
    &:hover {
      transform: scale(1.5);
    }
    &--active {
      color: $success;
    }
  }
}

.filters {
  margin: 35px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.load-more {
  text-align: center;
  margin: 10px 0 35px 0;
  button {
    width: 20%;
    padding: 15px 0;
    font-size: 16px;
  }
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  &__box {
    position: relative;
    text-align: center;
    margin: auto auto;
    color: white;
    font-size: 18px;
    line-height: 28px;
    padding: 40px 80px;
    background-color: $header-bg;
    border-radius: 8px;
    box-shadow: $box-shadow;
    border-left: 3px solid $success;
    overflow: auto;
    max-height: 100vh;
    &--no-padding {
      padding: 0;
    }
  } 
}

.player {
  color: white;
  flex: 1 0 auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &__top {
    display: flex;
    color: white;
    font-size: 13px;
    position: relative;
    padding: 8px 25px;
    border-top: 1px solid #252E3A;
    background-color: #1D252F;
    & > span {
      margin: 0 15px 0 0;
    }
    &--left-border {
      border-left: 1px solid #252E3A;
      justify-content: space-between;
      i {
        margin: 0;
      }
    }
    &--videos{
      align-items: center;
    }
    i {
      margin: 0 8px 0 15px;
      &:nth-of-type(1) {
        margin-left: 0; 
      }
    }
    .videos__watched {
      padding: 8px 0;
      font-size: 14px;
      right: 10px;
      &:hover {
        transform: scale(1.2)
      }
    }
    .videos__badge--bookmark {
      padding: 8px 0;
      font-size: 14px;
      right: 40px;
      top: 0;
      &:hover {
        transform: scale(1.2)
      }
    }
  }
  &__iframe {
    flex: 1 0 auto
  }
}

.poorchat {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;
  width: 400px;
  background-color: $header-bg;
  &__container {
    flex:  1 0 auto;
  }
  &__hide {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $header-bg;
    cursor: pointer;
    transition: all .2s ease;
    left: -30px;
    top: 60px;
    text-align: center;
    line-height: 30px;
    color: $dark;
    border: 1px solid #252E3A;
    border-right: 0;
    &:hover {
      color: $light;
      background-color: #1D252F;
    }
  }
  &--close {
    margin-right: -400px;
  }
}

.notification {
  color: white;
  position: fixed;
  z-index: 99999;
  left: 50%;
  bottom: 150px;
  transform: translate(-50%, 0);
  padding: 15px 100px 15px 25px;
  background-color: $header-bg;
  border-radius: 8px;
  box-shadow: $box-shadow;
  &__close {
    color: $dark;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all .2s ease;
    &:hover {
      cursor: pointer;
      color: $light;
    }
    &--modal {
      top: 20px
    }
  }
  &--success {
    border-left: 3px solid $success;
  }
  &--error {
    border-left: 3px solid $error;
  }
  &--bookmarks {
    border-left: 3px solid $bookmarks;
  }
}

.user-modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  p {
    max-width: 700px;
    color: #556378;
    font-size: 14px;
    line-height: 22px;
    padding: 0 30px;
    margin: 0 0 40px 0;
  }
  &__switches {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0 0 50px 0;
    li {
      flex: 1 1 auto;
      padding: 20px 0;
      transition: all .2s ease;
      cursor: pointer;
      border-bottom: 1px solid #252E3A;
      &:hover,
      &.active {
        background-color: #1D252F;
      }
      &:first-child {
        border-right: 1px solid #252E3A;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__row {
    position: relative;
    margin: 0 0 25px 0;
  }
  label {
    color: #C2C2C2;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
  }
  
}

.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.fade-in-enter-active {
  opacity: 0;
}

.fade-in-enter-to {
  opacity: 1;
  transition: all .2s ease;
}

.fade-in-leave-active {
  opacity: 1;
  transition: all .2s ease;;
}

.fade-in-leave-to {
  opacity: 0;
}

.slide-in-enter-active {
  bottom: -50px;
  transition: all 500ms ease-out;
}

.slide-in-enter-to {
  transform: translate(-50%, -200px);
}

.slide-in-leave-active {
  transition: all 400ms ease-in;
}

.slide-in-leave-to {
  transform: translate(-50%, +200px);
}

.spring-spinner, .spring-spinner * {
  box-sizing: border-box;
}

.spring-spinner {
  height: 60px;
  width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spring-spinner .spring-spinner-part {
  overflow: hidden;
  height: calc(60px / 2);
  width: 60px;
}

.spring-spinner  .spring-spinner-part.bottom {
   transform: rotate(180deg) scale(-1, 1);
 }

.spring-spinner .spring-spinner-rotator {
  width: 60px;
  height: 60px;
  border: calc(60px / 7) solid transparent;
  border-right-color: $light;
  border-top-color: $light;
  border-radius: 50%;
  box-sizing: border-box;
  animation: spring-spinner-animation 3s ease-in-out infinite;
  transform: rotate(-200deg);
}

.live {
  position: relative;
  flex: 0 1 auto;
  width: 8px;
  height: 8px;
  margin: 0 10px 0 0;
  &__icon {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: $error;
    border-radius: 50%;
  }
  &__outer {
    border-radius: 50%;
    border: 2px solid $error;
    height: 16px;
    width: 16px;
    position: absolute;
    left: -4px;
    top: -4px;
    animation: pulsate 1s ease-out infinite;
    opacity: 1
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1); 
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2); 
    opacity: 0;
  }
}

@keyframes spring-spinner-animation {
  0% {
    border-width: calc(60px / 7);
  }
  25% {
    border-width: calc(60px / 23.33);
  }
  50% {
    transform: rotate(115deg);
    border-width: calc(60px / 7);
  }
  75% {
    border-width: calc(60px / 23.33);
  }
  100% {
    border-width: calc(60px / 7);
  }
}

@keyframes spin { 
  100% { 
    transform:rotate(360deg); 
  } 
}

@media (max-width: 1199.98px) {
  .videos {
    &__item {
      flex: 0 1 33.3%;
      max-width: 33.3%;
    }
  }
}
@media (max-width: 767.98px) {
  input[type="text"] {
    flex: 0 1 90%;
    min-width: 0;
  }

  form {
    display: flex;
    justify-content: center;
  }

  .notification {
    width: 80%;
    padding: 15px;
  }

  .content {
    justify-content: center;
    padding: 0 10px;
  }

  .content__box {
    width: 100%;
    font-size: 14px;
    margin-top: 40px;
    padding: 20px;
    &--no-padding {
      padding: 0;
    }
  }

  .load-more button {
    width: 50%;
  }
  .videos {
    &__item {
      flex: 0 1 50%;
      max-width: 50%;
    }
  }
  .center-flex {
    flex-direction: column;
    overflow-x: initial;
  }

  .player {
    height: 400px;
    flex: 1 0 400px;
  }

  .poorchat {
    width: auto;
    flex: 1 0 400px;
    height: 400px;
  }
}
@media (max-width: 575.98px) {
  .row {
    padding: 0 10px;
  }
  .header {
    flex-direction: column;
    flex: 0 0 120px;
    padding: 0;
  }
  .streamers-wraper {
    min-height: 60px;
  }
  .user-menu {
    min-height: 60px;
    &--links {
      margin: 0 auto;
    }
  }
  .search {
    text-align: center;
    input {
      width: 100%;
    }
  }
  .hide-mobile {
    display: none;
  }
  .filters {
    flex-direction: column;
    .btn {
      margin: 0 0 25px 0;
    }
  }
  .videos {
    &__item {
      flex: 0 1 100%;
      max-width: 100%;
    }
  }
  .user-modal {
    &__switches {
      li:first-child {
        border-right: 0;
      }
    }
  }
}