// Backgrounds
$header-bg: #151C26;
$body-bg: #2E3440;
$bullet: #374356;

// Main colors
$bookmarks: #FFF064;
$success: #00E1AB;
$error: #DB0E30;

// Font colors
$light: #8596AE;
$dark: #515D71;

$box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  background-color: $body-bg;
  font-family: 'Roboto', sans-serif;
  background: url('./assets/bg.jpg') no-repeat top right;
  background-color: $body-bg;
  background-size: contain;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  padding: 0 25px;
}

.header {
  height: 75px;
  background-color: $header-bg;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  ul {
    height: 100%;
    display: flex;
    li {
      list-style: none;
      height: 100%;
      a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 20px;
        &:hover {
          background-color: #1D252F;
          .streamer__icon::after {
            background-color: white;
            width: 35px;
          }
          .streamer__remove {
            opacity: 1;
          }
        }
        &.active {
          background-color: #1D252F;
          .streamer__icon::after {
            background-color: white;
            width: 35px;
          }
        }
      }
    }
  }
}

.streamer {
  display: flex;
  align-items: center;
  &__icon {
    position: relative;
    img {
      width: 50px;
      height: 50px;
      border-radius: 13px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      transform: translate(-50%, 0);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 15px;
      height: 5px;
      background-color: $bullet;
      transition: all .2s ease;
    }
    &--placeholder {
      background-color: $bullet;
      width: 50px;
      height: 50px;
      border-radius: 13px;
      &::after {
        display: none;
      }
    }
  }
  &__badge {
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -5px;
    background-color: $error;
  }
  &__remove {
    position: absolute;
    opacity: 0;
    left: -4px;
    top: -4px;
    font-size: 12px;
    color: $light;
    transition: all .2s ease;
    &:hover {
      color: $error;
      cursor: pointer;
    }
  }
  &__title {
    margin: 0 0 0 15px;
    font-size: 16px;
    color: $light;
    &--placeholder {
      span {
        display: block;
        border-radius: 5px;
        background-color: $bullet;
      }
      span:nth-child(1) {
        height: 14px;
        width: 40px;
        margin: 0 0 5px 0;
      }
      span:nth-child(2) {
        height: 12px;
        width: 60px;
      }
    }
  }
  &__status {
    font-size: 14px;
    color: $dark;
    span {
      color: $success;
    }
    &--off {
      span {
        color: $error;
      }
    }
  }
}

.user-menu {
  img {
    width: 36px;
  }
  a {
    font-size: 28px;
    color: $bookmarks;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 15px;
      height: 5px;
      background-color: $bullet;
      transition: all .2s ease;
    }
    &:hover {
      &::after {
        background-color: white;
        width: 35px;
      }
    }
  }
}

.videos {
  h2 {
    color: white;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid $bullet;
    padding: 0 0 8px 0;
    margin: 40px 0 20px 0;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  &__item {
    flex: 0 1 20%;
    max-width: 20%;
    position: relative;
    padding: 0 10px;
    margin: 10px 0 30px 0;
    a {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      z-index: 800;
      &:hover {
        +.videos__thumbnail img {
          box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.4);
        }
      }
    }
  }
  &__thumbnail {
    position: relative;
    img {
      border-radius: 8px;
      width: 100%;
      height: auto;
      transition: all .2s ease;
    }
  }
  &__title {
    position: relative;
    font-size: 16px;
    font-weight: 400; 
    color: white;
    margin: 15px 0 0 0;
    h3 {
    font-size: 16px;
    font-weight: 400;
      margin: 0 0 5px 0;
    }
    span {
      color: $light;
      font-size: 14px;
    }
  }
  &__badge {
    position: absolute;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 5px 8px;
    i {
      margin: 0 8px 0 0;
    }
    &--new {
      background-color: $error;
      text-transform: uppercase;
      top: 12px;
      left: 8px;
    }
    &--bookmark {
      background-color: transparent;
      top: 12px;
      right: 8px;
      padding: 0;
      z-index: 900;
      font-size: 18px;
      transition: all .2s ease;
      &:hover {
        color: $bookmarks;
        cursor: pointer;
      }
    }
    &--views {
      right: 8px;
      bottom: 12px;
    }
    &--time {
      left: 8px;
      bottom: 12px;
    }
  }
  &__watched {
    z-index: 900;
    position: absolute;
    top: 0;
    transition: all .2s ease;
    right: 0;
    &:hover {
      cursor: pointer;
      color: $success;
    }
  }
}

.notification {
  color: white;
  position: fixed;
  left: 50%;
  bottom: 80px;
  transform: translate(-50%, 0);
  padding: 15px 100px 15px 25px;
  background-color: $header-bg;
  border-radius: 8px;
  box-shadow: $box-shadow;
  &__close {
    color: $dark;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all .2s ease;
    &:hover {
      cursor: pointer;
      color: $light;
    }
  }
  &--success {
    border-left: 3px solid $success;
  }
  &--error {
    border-left: 3px solid $error;
  }
  &--bookmarks {
    border-left: 3px solid $bookmarks;
  }
}